@import "../../style/helpers/variables.scss";

.header {
  @extend %mainBlock-size;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: $paddingSize*5;

  &__title {
    font-size: $subtitle-size;
    color: $background;
    background-color: $primary;
    border-radius: 5px;
    padding: $paddingSize * 2;
  }
}
