@import '../../../style/helpers/variables.scss';

.currency {
  width: 10em;
  border: 0.2em solid $black;
  border-radius: 5px;
  padding: $paddingSize;
  margin-top: $paddingSize * 4;
  color: $grey;

  &__item {
    display: flex;
    width: inherit;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    color: $grey;
    font-size: $content-size;
  }
}
