@import "../../style/helpers/variables.scss";

.navigation-bar {
  @extend %mainBlock-size;

  &__menu {
    display: flex;
    justify-content: center;
    gap: $paddingSize * 4;
  }

  .navigation-bar__menu-button {
    @include buttonText($grey, $subtitle-size);

    &:hover {
      @include hoverText($primary);
    }

    &:focus {
      color: $black;
    }
  }
}
