@import "../../style/helpers/variables.scss";

.navigation-bar {
  @extend %mainBlock-size;

  &__menu {
    display: flex;
    height: 4em;
    justify-content: center;

    .navigation-bar__menu-position {
      @include buttonText($grey, $subtitle-size);
    }

    .navigation-bar__menu-position:first-child {
      padding-right: $paddingSize * 4;
    }
    .navigation-bar__menu-position:hover {
      @include hoverText($primary);
    }

    .navigation-bar__menu-position:focus {
      color: $black;
    }
  }
}
