@font-face {
    font-family: "Poppins";
    src: url("../../assets/fonts/Poppins-Medium.ttf") format("ttf"),
      url("../../assets/fonts/Poppins-Regular.ttf") format("ttf"),
      url("../../assets/fonts/Poppins-SemiBold.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
  