@import "../../style/helpers/variables.scss";

.expenses {
  @extend %mainBlock-size;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: $paddingSize * 4;
  align-items: center;
  color: $black;

  &__text {
    color: $primary;
    font-size: $subtitle-size;
  }

  &__title {
    font-size: $title-size;
  }

  &__wrapper-btn {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: $paddingSize * 4;
    align-items: center;
  }

  .expenses__contained {
    @extend %buttonContained;

    &:hover {
      @extend %hoverContained;
    }
  }

  .expenses__text-btn {
    @include buttonText($secondary, $content-size);

    &:hover {
      @include hoverText($primary);
    }
  }
}
