@import "../../style/helpers/variables.scss";

.wallets {
  @extend %mainBlock-size;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__wrapper-item{
     max-width: 350px;
     width: 100%;
     align-self: center;
     margin-bottom: $paddingSize * 3;
  }

  &__item {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $black;
    padding: $paddingSize * 8;
    color: $grey;
  }
  
  &__menu-list {
    width: 3em;
    align-self: flex-end;
  }

  &__title {
    color: $primary;
    font-size: $title-size;
  }

  &__sum {
    font-size: $content-size;
  }

  .wallets__btn {
    @extend %buttonContained;
    align-self: center;
    margin-bottom: $paddingSize * 4;

    &:hover {
      @extend %hoverContained;
    }
  }

  &__btn-text {
    color: $black;
    font-family: $font;
  }
  &__modal-content{
    max-width: 300px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   }
}
