@import "../../../style/helpers/variables.scss";

.basic-modal {
  &__wrapper {
    max-width: 300px;
    width: 100%;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: $paddingSize * 4;
    border-radius: 5px;
    background-color: $grey;
    color: $black;
    transform: translate(-50%, -50%);
  }

  .basic-modal__title {
    margin-bottom: $paddingSize * 2;
    font-size: $subtitle-size;
    font-weight: $bold;
  }

  .basic-modal__input {
    width: 260px;
  }

  .basic-modal__btn {
    @extend %buttonOutlined;
    margin-bottom: $paddingSize * 4;
  }
}
